.header {
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", "游明朝", serif;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    color: rgb(139, 121, 105);
}

.title {
    text-align: center;
    font-size: 35px;
    color: rgb(139, 121, 105);
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Times New Roman", "游明朝", serif;
}

body {
    font-family: sans-serif;
    background-color: #ffffffff;
    color: rgb(139, 121, 105)
}

.confirm-form {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}


.row {
    display: flex;
    border-bottom: 1px solid #e0d6d0;
  
}

.row:first-child {
    border-top: 1px solid #e0d6d0;
}

.label {
    width: 30%;
    background-color: #b7a59c;
    color: #fff;
    padding: 15px;
    font-size: 14px;   
    border-right: 1px solid #e0d6d0;
}

.value {
    width: 70%;
    padding: 15px;
    background-color: #f9f7f5;
    font-size: 14px;
    word-break: break-all;

}


.row:last-child {
    border-bottom: none;
}


.btn-area {
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    display: flex;
   
}


.btn-area button {
    padding: 10px 30px;
    margin: 0 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 120px;
    height: 40px;
}

.btn-area button:last-child {
    background-color: transparent;
    color: #8b7b72;
    text-decoration: underline;
}


.btn-area button:first-child {
    background-color: #8b7b72;
    color: #fff;
}


.btn-area button:hover {
    opacity: 0.8;
}